@charset "UTF-8";

.user-model {
	display: none;
	position: relative;
	width: 100%;
	height: 700px;
	top: 0px;
	left: 0px;
	z-index: 2;
	/*------*/
	background: rgb(244, 246, 249);
}

.user-model .container1 {
	width: 1100px;
	width: 100%; height : 630px;
	margin: 0 auto;
	background: white;
	box-shadow: 2px 2px 5px grey;
	overflow: hidden;
	height: 630px;
}

.user-model .container1 #user-model-update-btn,
.user-model .container1 #user-model-save-btn,
.user-model .container1 #user-model-cancel-btn{
	line-height: 25px;
	padding: 0;
	width: 90px;
}

.user-model .container1 #user-show-up-data {
	position: absolute;
	display: none;
	width: 1100px;
	width: 100%;
	height: 630px;
	z-index: 399;
	float: left;
	background: white;
}
.user-model .container1 .table {
	width: 1100px;
	width: 100%;
	height: 500px;
	margin: auto;
	overflow: hidden;
}

.user-model .container1 .table .row {
	border-bottom: 2px solid rgb(234, 236, 239);
	height: 35px;
	line-height: 35px;
	text-align: center;
}

.user-model .container1 .table .row:hover {
	background: rgb(244, 246, 249);
}

.user-model .btn {
	display: inline-block;
	width: 120px;
	height: 25px;
	margin-left: 27px;
}

/*分页*/
.user-model #pageId {
	width: 800px;
	height: 30px;
	margin: auto;
	/*----*/
	cursor: pointer;
}

.user-model #pageId ul {
	width: 800px;
	height: 30px;
}

.user-model #pageId li {
	float: left;
	width: 109px;
	height: 30px;
	maigin: 0;
	line-height: 30px;
	text-align: center;
	line-height: 30px;
}

.user-model #pageId li a {
	font-size: 14px;
	display: inline-block;
	width: 110px;
	height: 30px;
}
