<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 门店表的映射文件 namespace值为对应接口的全路径 -->
<mapper namespace="cn.tedu.dao.ScoreListMapper">
	<resultMap type="cn.tedu.pojo.ScoreList" id="scoreListRM">
		<id column="id" property="id"/>
		<result column="score_id" property="scoreId"/>
	</resultMap>
	
	<!-- 获取所有考试场次的信息 -->
	<select id="selectAll" resultMap="scoreListRM">
		select * from score_list;
	</select>
	
	<insert id="insertScoreId">
		insert score_list(score_id) 
		values(#{scoreId})
	</insert>
	
</mapper>
