<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 门店表的映射文件 namespace值为对应接口的全路径 -->
<mapper namespace="cn.tedu.dao.UserMapper">
	<!-- 获取所有用户的信息 -->
	<select id="findPageObjects" resultType="cn.tedu.pojo.User">
		select * from user 
		<where>
			<if test="username!=null">
				username=#{username}
			</if>
		</where>
		limit #{startIndex},#{pageSize}
	</select>
	<select id="selectByUsername" resultType="cn.tedu.pojo.User">
		select * from user where username=#{username}
	</select>
	<select id="getRowCount" resultType="int">
		select count(*) from user;
	</select>
	<select id="selectPageUsers" resultType="cn.tedu.pojo.User">
		select * from user 
		limit #{startIndex},#{pageSize}
	</select>

	<!-- 根据用户名和密码获取用户信息 -->
	<select id="selectByUsernameAndPassword"
		resultType="cn.tedu.pojo.User">
		select username,password,status from user
		where
		username=#{username} and password=#{password}
	</select>
	<update id="updatePassword">
		update user 
		set password = #{password}
		where username = #{username}
	</update>
	<delete id="deleteByUsername">
		delete from user
		where username=#{username}
	</delete>
	<insert id="insertUser">
		insert into user 
		values(#{username},#{password},#{status})
	</insert>
	<update id="updateUser">
		update user 
		set password = #{password},status=#{status}
		where username = #{username}
	</update>
	
</mapper>
